.spinner {
  position: relative;
  margin: 0 auto;
  border-top: 1.1em solid #006d9e;
  border-right: 1.1em solid #006d9e;
  border-bottom: 1.1em solid #006d9e;
  border-left: 1.1em solid darken(#006d9e, 15%);
  text-indent: -9999em;
  transform: translateZ(0);
  animation: spinner 1.1s infinite linear;
}

.spinner,
.spinner:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

.spinner:after {
  content: "";
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
